body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.login_layout {
  margin: auto;
}
.login_form {
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.login_container {
  width: 40%;
  border: 1px solid red;
}
.auth_logo {
  height: 50px;
  position: absolute;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.sidebar_title {
  font-weight: bold;
  margin: auto;
  width: 50%;
  padding-top: 15px;
  margin-left: 30px;
  font-size: 25px;
}
.header_container {
  display: flex;
  border: 3px solid #f4f4f4;
  border-top: none;
}
.header_logo_container {
  padding: 15px;
}
.header_logo {
  height: 30px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.dropdown {
  padding: 15px;
  margin-left: auto;
  margin-right: 25px;
}
.header_dropdown_button:hover {
  border-color: #333;
  color: #333;
}
.ant-menu-title-content:hover {
  font-weight: bold;
}
.ant-menu-title-content {
  color: #333;
  font-size: 15px;
}

.content_container {
  background: #fff;
  flex: 1;
  margin: 5px;
}
.sider {
  background-color: #f4f4f4;
}
.menu {
  background-color: #f4f4f4;
  padding: 10px;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgba(0, 0, 0, 0.08);
  font-weight: bold;
  border-radius: 10px;
}
.ant-layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background: #fff;
}
.ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 0;
  right: -36px;
  z-index: 1;
  width: 36px;
  height: 42px;
  color: #ff0000;
  font-size: 25px;
  line-height: 42px;
  text-align: center;
  background: #fbfbf9;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}
.breadcrumb {
  background-color: #fff;
  padding-left: 50px;
  margin-top: -30px;
}
